.user_img{
    position: relative;
    padding:0 .2rem .4rem;
    text-align: center;
}
.user_ty img{
    float: none;
}
.user_ty{
    text-align: center;
}

.re_btn{
    width: 1.8rem;
    height: .7rem !important;
    margin: 0.2rem auto;
    font-size: .2rem !important;
    line-height: .7rem !important;
    margin:.1rem;
}